.btnColor {
    background: #015871;
}

.logo {
    background-image: url("../../../Logo2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 10vh;
}

/* code for the sun  */
