.LoggedInMainBtn{
    border-radius: 15px;
    border: none;
}

.LoggedInMainIcon{
    font-size: 40px;
}

.LoggedInMainBtn:focus{
    outline: none;

}

.savedExpand{
    animation: savedExpandAnime 0.3s ease-in-out forwards 0s;
}

@keyframes savedExpandAnime {
    0%{
        opacity: 0;
        transform: translateY(-7%);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}